<div class="row p-2 bg-dark">
  <div class="col-auto">
    <a href="/" class="nav-link">Home</a>
  </div>
  <div class="col-auto">
    <a href="/projects/" class="nav-link">Projects</a>
  </div>
  <div class="col-auto">
    <a href="/resources/" class="nav-link">Resources</a>
  </div>
  <div class="col-sm position-relative">
    <input
      id="search_input"
      type="text"
      oninput="doSearch()"
      class="form-control mr-2"
      placeholder="Search"
      aria-label="Search"
    />
    <ul
      id="search_results"
      class="invisible list-unstyled bg-dark border rounded shadow-md p-3"
      aria-label="Search Results"
    ></ul>
  </div>
</div>

<hr />
