<div class="row mt-2">
  <div class="col">
    <ul
      class="nav nav-pills justify-content-between align-items-center bg-dark p-1"
    >
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="/projects/" class="nav-link">Projects</a>
      </li>
      <li class="nav-item">
        <a href="/resources/" class="nav-link">Fun resources</a>
      </li>
      <li class="nav-item pr-5 position-relative">
        <input
          id="search_input"
          type="text"
          oninput="doSearch()"
          class="form-control mr-sm-2"
          placeholder="Search"
          aria-label="Search"
        />
        <ul
          id="search_results"
          class="invisible list-unstyled bg-dark border rounded shadow-md p-3"
          aria-label="Search Results"
        ></ul>
      </li>
    </ul>
  </div>
</div>

<hr />
