<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8" />
<title>{{ title }} | Kyle R. Wenholz</title>
<meta name="description" content="{{ description }}" />
<meta name="author" content="Kyle R. Wenholz" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<link href="/css?family=Inconsolata" rel="stylesheet" type="text/css" />

<link href="/base.css" rel="stylesheet" type="text/css" />

<link rel="shortcut icon" href="/favicon.ico" />
