<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8" />
<title>{{ title }} | Kyle R. Wenholz</title>
<meta name="description" content="{{ description }}" />
<meta name="author" content="Kyle R. Wenholz" />

<!-- Search import
  ================================================== -->
<script type="module">
  import { search, default as init } from "./tinysearch_engine.js";
  window.search = search;

  async function run() {
    await init("./tinysearch_engine_bg.wasm");
  }

  run();
</script>

<!-- Mobile Specific Metas
  ================================================== -->
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=1"
/>

<!-- CSS
  ================================================== -->
<link rel="stylesheet" href="/css/base.css" />
<link rel="stylesheet" href="/css/font-awesome.min.css" />

<link
  href="http://fonts.googleapis.com/css?family=Crimson+Text"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="http://fonts.googleapis.com/css?family=Raleway:100"
  rel="stylesheet"
  type="text/css"
/>

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- CSS Media Fix
  ================================================== -->
<script src="/javascript/respond.min.js"></script>

<!-- Favicons
  ================================================== -->
<link rel="shortcut icon" href="/favicon.ico" />
