<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8" />
<title>{{ title }} | Kyle R. Wenholz</title>
<meta name="description" content="{{ description }}" />
<meta name="author" content="Kyle R. Wenholz" />

<!-- Search import
  ================================================== -->
<script type="module">
  import { search, default as init } from "/search/tinysearch_engine.js";
  window.search = search;

  async function run() {
    await init("/search/tinysearch_engine_bg.wasm");
  }

  run();
</script>

<script>
  const doSearch = () => {
    let value = document.getElementById("demo").value;
    const arr = window.search(value, 10);
    let ul = document.getElementById("search_results");
    ul.innerHTML = "";

    for (i = 0; i < arr.length; i++) {
      var li = document.createElement("li");

      let elem = arr[i];
      let elemlink = document.createElement("a");
      elemlink.innerHTML = elem[0];
      elemlink.setAttribute("href", elem[1]);
      li.appendChild(elemlink);

      ul.appendChild(li);
    }
  };
</script>

<link rel="stylesheet" type="text/css" href="css?family=Inconsolata" />

<link href="base.css" rel="stylesheet" type="text/css" />

<link rel="shortcut icon" href="/favicon.ico" />
