@charset "utf-8";

// Import partials from sass_dir
//@import "materialize/materialize.scss";
@import "materialize/components/mixins";
@import "materialize/components/color";
@import "materialize/components/variables";
@import "materialize/components/global";
@import "materialize/components/typography";
@import "materialize/components/buttons";
@import "materialize/components/cards";
@import "materialize/components/waves";
@import "materialize/components/forms/forms";
@import "materialize/components/forms/input-fields";

// TODO: configure buttons with mixins
// TODO: configure input boxes with sizing
// TODO: configure lists with spacing and no bullets and font size
// TODO: configure labels with font size and color
// TODO: configure divs with color/wells
$input-focus-color: color("grey", "darken-4");
$help-color: color("grey", "darken-2");

div.budget-input {
}

div.account-list {
  ul {
  }
}

div.account {
  @extend .card-panel;
  @extend .blue-grey;
  @extend .lighten-4;
}

div.income-event {
  @extend .card-panel;
  @extend .blue-grey;
  @extend .lighten-5;
}

input.income-event-name {
  color: color("grey", "lighten-4");
}

input.income-event-flat-change {
}

input.income-event-percent-change {
}

input.account-name {
}

input.account-value {
}

.input-field {
  label {
    font: 2em "Roboto", sans-serif;
    color: $help-color;
  }
}

@mixin add-or-remove-button() {
  @extend .btn-flat;
  @extend .waves-effect;
  @extend .waves-light;
}

button.new-account {
  @include add-or-remove-button();
  @extend .green;
  @extend .lighten-2;
}

button.delete-account {
  @include add-or-remove-button();
  @extend .red;
  @extend .lighten-2;
}

button.new-income-event {
  @include add-or-remove-button();
  @extend .green;
  @extend .lighten-3;
}

button.delete-income-event {
  @include add-or-remove-button();
  @extend .red;
  @extend .lighten-3;
}

button.save-button {
  @extend .waves-effect;
  @extend .waves-light;
  @extend .blue;
  @extend .lighten-3;
}

/* Placeholder styles */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $help-color;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $help-color;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $help-color;
}
:-moz-placeholder { /* Firefox 18- */
  color: $help-color;
}
