<script>{% include Chart.min.js %}</script>
<script>{% include budget-visualization.js %}</script>
<div id="budget-input"></div>
<div class="canvas-container">
  <canvas id="chart"></canvas>
</div>
<script>
// FIXME: there's a bug on updates where the chart takes on old values
// TODO: make animations smoother
// TODO: stylize buttons with color and better spacing
// TODO: add list styling to inputs
// TODO: Add wells to better separate datae
// TODO: Ensure input boxes resize to hold content
// TODO: make font sizes look correct
// TODO: copy in skeleton and other frameworks as includes for each page
// TODO: Add a solid background to chart
function getColors() {
  setsOfSix = 10;
  predefined = [ [0, 0, 255]
               , [0, 255, 0]
               , [255, 0, 0]
               , [0, 255, 255]
               , [255, 0, 255]
               , [255, 255, 0] ];
  colors = [];
  for (var ii = 1; ii <= setsOfSix; ii++) {
    predefined.forEach(function(data, index, array) {
      col1 = Math.ceil(data[0]/ii);
      col2 = Math.ceil(data[1]/ii);
      col3 = Math.ceil(data[2]/ii);
      colors.push('rgb(' + col1 + ', ' + col2 + ', ' + col3 + ')');
    });
  }

  return colors;
}

Chart.defaults.global.elements.line['fill'] = false;
var canvas = document.getElementById('chart');
var colors = getColors();

var lineChart;

var displayDiv = document.getElementById('budget-input')
var app = Elm.BudgetVisualization.embed(displayDiv);

var currentData = null;
var currentHash = JSON.stringify(currentData);

app.ports.output.subscribe(function(extrapolation) {
  currentData = extrapolation;
  currentHash = JSON.stringify(currentData);
});

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

async function vivifyChart() {
  chartData = currentData;
  chartHash = JSON.stringify(chartData);
  while (true) {
    await sleep(3000);
    console.log(currentHash)
    console.log(chartHash)
    if (chartHash === currentHash) {
      continue;
    }
    chartData = currentData;
    chartHash = JSON.stringify(chartData);
    chartData.datasets.forEach(function(data, index, array) {
      data.backgroundColor = colors[index % colors.length];
      data.borderColor = colors[index % colors.length];
      data.pointRadius = 0;
    });
    lineChart = new Chart(canvas, {
      type: 'line',
      data: chartData,
      options: {
        title: {
          display: true,
          text: 'Account Value Predictions'
        },
        tooltips: {
          mode: 'index'
        },
        hover: {
          mode: 'index'
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Month'
            },
            ticks: {
              autoSkip: true,
              maxTicksLimit: 20
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Dollars'
            }
          }]
        }
      }
    });
  }
}

vivifyChart();
</script>
