<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>Kyle R. Wenholz | {{ page.title }}</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
  ================================================== -->
<link rel="stylesheet" href="/stylesheets/base.css">
<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/font-awesome-ie7.css">

<link href="http://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- CSS Media Fix
  ================================================== -->
<script src="/javascript/respond.min.js"></script>

<!-- Favicons
  ================================================== -->
<link rel="shortcut icon" href="/static/favicon.ico">


