/* Fonts
================================================== */
body {
  background: url(/static/backgrounds/shattered.png) repeat 0 0;
  font: 19px/27px 'Source Sans Pro', 'Pontano Sans', 'Myriad', 'Myriad Pro', 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

p, body {
  font-family: 'Crimson Text', Georgia, Times, serif;
  font-size: 1.4em;
}

code {
  font-family: 'Inconsolata', monospace;
}

hr {
  border: solid #333333;
  border-width: 3px 0 0;
  clear: both;
  margin: 10px 0 10px;
  height: 1px;
}

a, a:visited {
  color: #333;
  text-decoration: none;
  outline: 0;
}

a:hover, a:focus {
  color: #000;
  text-decoration: underline;
}

p a, p a:visited {
  line-height: inherit;
  text-decoration: underline;
}

ul.navigation li a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
