<hr />
<div class="row justify-content-end">
  <div class="col-3">
    <a href="mailto:kyle@krwenholz.com">
      <svg class="feather">
        <use href="feather-sprite.svg#mail" />
      </svg>
    </a>
    <a href="http://github.com/krwenholz">
      <i class="icon-github"></i>
      <svg class="feather">
        <use href="feather-sprite.svg#github" />
      </svg>
    </a>
    <a href="https://www.linkedin.com/in/kyle-wenholz-3b591087/">
      <svg class="feather">
        <use href="feather-sprite.svg#linkedin" />
      </svg>
    </a>
  </div>
</div>
