<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8" />
<title>{{ .Title }} | Kyle R. Wenholz</title>
<meta name="description" content="{{ .Description }}" />
<meta name="author" content="Kyle R. Wenholz" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<link href="/css?family=Inconsolata" rel="stylesheet" type="text/css" />

{{ $sass := resources.Get "sass/base.scss" }}
{{ $style := $sass | css.Sass | resources.Minify | resources.Fingerprint }}
<link href="{{ $style.RelPermalink }}" rel="stylesheet" type="text/css" />

<link rel="shortcut icon" href="/favicon.ico" />
