<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>404 - Page Not Found | Kyle R. Wenholz</title>
  <meta name="description" content="Page not found" />
  <meta name="author" content="Kyle R. Wenholz" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <link href="/css?family=Inconsolata" rel="stylesheet" type="text/css" />

  {{ $sass := resources.Get "sass/base.scss" }}
  {{ $style := $sass | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet" type="text/css" />

  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
<div class="container">
  {{ partial "heading.html" . }}

  <div class="row">
    <div class="col">
      <h1>404 - Page Not Found</h1>
      <p>The page you're looking for doesn't exist.</p>
      <p><a href="/">Return to home page</a></p>
    </div>
  </div>

  {{ partial "footer.html" . }}
</div>
</body>
</html>
