<!DOCTYPE html>
<head>
  {% set title = section.title %}
  {% set description = section.description %}
  {% include "_includes/head.html" %}
</head>
<body>
<div class="container">
  {% include "_includes/heading.html" %}

  <div class="row">
    <div class="col-2 d-flex flex-column justify-content-center align-items-center">
      <image
        src="/images/rocketship.png"
        alt=""
        loading="lazy"
        />
    </div>
    <div class="col">
      {{ section.content | safe }}
    </div>
  </div>
</div>
</body>
</html>
