<!DOCTYPE html>
<head>
  {% set title = section.title %}
  {% set description = section.description %}
  {% include "_includes/head.html" %}
</head>
<body>

	<!-- Primary Page Layout
	================================================== -->

	<div class="container">
    <div class="offset-by-two eight columns">
      {% include "_includes/heading.html" %}
      {% include "_includes/navigation.html" %}
      <hr />

      {{ section.content | safe }}
    </div>
  </div><!-- container -->

</body>
</html>
