<!DOCTYPE html>
<head>
  {% set title = section.title %}
  {% set description = section.description %}
  {% include "_includes/head.html" %}
</head>
<body>
<div class="container">
  {% include "_includes/heading.html" %}

  <div class="row">
    <div class="col">
      <image
        src="/images/rocketship.png"
        alt=""
        loading="lazy"
        />
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{ section.content | safe }}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% for year, posts in section.pages | reverse | group_by(attribute="year") %}
      <h3>{{ year }}</h3>

      <ul>
        {% for post in posts %}
        <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
</div>
</body>
</html>
