<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} &larr; {{ page.top }}</title>
    <meta name="author" content="{{ site.author.name }}" />
    
    <link rel="start" href="{{ HOME_PATH }}" />

    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
    {% endif %}
    
    {% if site.author.feedburner %}
    <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/{{ site.author.feedburner }}" title="RSS feed" />
    {% endif %}
    {% if page.feed %}
    <link rel="alternate" type="application/atom+xml" href="{{ page.feed }}" title="RSS feed" />
    {% endif %}
    

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/stylesheets/base.css">
    <link rel="stylesheet" href=" {{ ASSET_PATH }}/stylesheets/skeleton.css">
    <link rel="stylesheet" href=" {{ ASSET_PATH }}/stylesheets/layout.css">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/stylesheets/syntax.css" type="text/css" />

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/images/favicon.ico">

	<!-- Site Metrics
	================================================== -->
   <script type="text/javascript">
       window._idl = {};
       _idl.variant = "banner";
       (function() {
           var idl = document.createElement('script');
           idl.type = 'text/javascript';
           idl.async = true;
           idl.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'members.internetdefenseleague.org/include/?url=' + (_idl.url || '') + '&campaign=' + (_idl.campaign || '') + '&variant=' + (_idl.variant || 'banner');
           document.getElementsByTagName('body')[0].appendChild(idl);
       })();
   </script>

</head>
<body id="{{ page.section }}">
  
<a href="https://github.com/you">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
    src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"
    alt="Fork me on GitHub">
</a>

<div class="two columns"></div>
<div class="seven columns" id="header">
  <h1>
  	<a href="{{ HOME_PATH }}" title="{{ site.title }}">{{ site.title }}</a>
  	<span class="byline">&larr; <a href="{{ HOME_PATH }}">{{ site.author.name }}</a></span>
  </h1>
  <ul class="nav">
    <li><a class="home" href="{{ HOME_PATH }}">Home</a></li>
    <li><a  href="/archive.html">Archive</a></li>
    <li><a  href="/pages.html">Pages</a></li>
    <li><a  href="/categories.html">Categories</a></li>
    <li><a  href="/tags.html">Tags</a></li>
  </ul>
</div>
<div class="seven columns"></div>

<div class="container" id="site">

  {{ content }}
  
  
</div>
<div class="sixteen columns" id="footer">
	<address>
		<span class="copyright">
			Content by <a href="/info/site.html">{{ site.author.name }}</a>. Design by 
			Kyle Wenholz (template: <a href="http://mark.reid.name/">Mark Reid</a>)
			<br/>
			(<a rel="licence" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Some rights reserved</a>)			
      </span>
      <span>
          <a href="http://internetdefenseleague.org"><img src="http://internetdefenseleague.org/images/badges/final/footer_badge.png" alt="Member of The Internet Defense League" /></a>
      </span>
		<span class="engine">
			Powered by <a href="http://github.com/mojombo/jekyll/" title="A static, minimalist CMS">Jekyll</a>
      </span>
	</address>
</div>

</body>
</html>
