<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Kyle R. Wenholz | {{ page.title }}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome-ie7.css">

    <link href="http://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- CSS Media Fix
	================================================== -->
	<script src="/javascript/respond.min.js"></script>

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/static/favicon.ico">
    
    <!-- Site Metrics
	================================================== -->
   <script type="text/javascript">
       window._idl = {};
       _idl.variant = "banner";
       (function() {
           var idl = document.createElement('script');
           idl.type = 'text/javascript';
           idl.async = true;
           idl.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'members.internetdefenseleague.org/include/?url=' + (_idl.url || '') + '&campaign=' + (_idl.campaign || '') + '&variant=' + (_idl.variant || 'banner');
           document.getElementsByTagName('body')[0].appendChild(idl);
       })();
   </script>

</head>
<body>

	<!-- Primary Page Layout
	================================================== -->

	<div class="container">
	   {% include heading.html %}
	   <div class="offset-by-two eight columns">
	   	   {{ content }}
       </div>
       <div class="four columns">
           {% include navigation.html %}
       </div>
       {% include footer.html %}
	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>
