---
layout: base
---
<h4>{{ page.title }}</h4>
<h6>{{ page.date | date: "%A, %B %d, %Y" }}</h6>
<hr />
{{ page.content }}
<br /><br />
<h5>Comments</h5>
<hr />
<!-- COMMENTS GO HERE -->
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'josefdlange'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        