on: push
name: Publish
jobs:
  build:
    name: Do it!
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@v1
      - name: zola build
        run: |
          curl -s -L https://github.com/getzola/zola/releases/download/v0.9.0/zola-v0.9.0-x86_64-unknown-linux-gnu.tar.gz | sudo tar xvzf - -C /usr/local/bin
          zola build
      - name: index build
        uses: docker://tinysearch/cli
        with:
          entrypoint: tinysearch
          args: --optimize --path public/search public/search/index.html
      - name: chown
        run: sudo chown runner:docker public/search/*
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./public
          cname: www.krwenholz.com
